<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Some error occurred!</h1>
    <p>We are trying to fix the this</p>

<%- include('includes/end.ejs') %>